@model LivrariaControleEmprestimo.DATA.Models.Livro

<h4>Incluir novo Livro</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index"> <i class="fa fa-arrow-circle-left"></i> Voltar</a>
</div>
<br />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div class="card">
                <div class="card-header">Informações do livro</div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label asp-for="livroNome" class="control-label"></label>
                            <input asp-for="livroNome" class="form-control" />
                            <span asp-validation-for="livroNome" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md">
                            <label asp-for="livroAutor" class="control-label"></label>
                            <input asp-for="livroAutor" class="form-control" />
                            <span asp-validation-for="livroAutor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label asp-for="livroEditora" class="control-label"></label>
                            <input asp-for="livroEditora" class="form-control" />
                            <span asp-validation-for="livroEditora" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group col-md">
                            <label asp-for="livroAnoPublicacao" class="control-label"></label>
                            <input id="anoPublicacaoAsp" asp-for="livroAnoPublicacao" class="form-control" />
                            <span asp-validation-for="livroAnoPublicacao" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Ano de publicação</label>
                            <select id="anoPublicacao" onchange="setDataPublicacao()" class="form-control">
                                <option value="AnoNaoSelecionado">Selecione um ano</option>
                                @for (int x = DateTime.Now.Year; x >= 1500; x--)
                                {
                                    <option value="@x">@x</option>
                                }
                            </select>
                            <span asp-validation-for="livroAnoPublicacao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="livroEdicao" class="control-label"></label>
                            <input asp-for="livroEdicao" class="form-control" />
                            <span asp-validation-for="livroEdicao" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Incluir" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        function setDataPublicacao() {
            document.getElementById('anoPublicacaoAsp').value = document.getElementById('anoPublicacao').value + '-01-01T00:00';
        }
    </script>
}